<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">

    <title>Weathr</title>

    <link href="https://getbootstrap.com/docs/5.0/examples/album/" rel="canonical">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="bi bi-brightness-high mx-1"></i>
                <strong>Weathr</strong>
            </a>
        </div>
    </div>
</header>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"><i class="bi bi-brightness-high mx-1"></i>Weathr</h1>
                <p class="lead text-muted">Your favorite weather service</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <form action="#" method="post" th:action="@{/}" th:object="${location}">
                <div class="mb-3">
                    <label class="form-label" for="inputLatitude">Latitude</label>
                    <input aria-describedby="latitudeHelp" class="form-control" id="inputLatitude" step="any" th:field="*{latitude}"
                           type="number">
                    <div class="form-text" id="latitudeHelp">Enter the latitude for your location</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="inputLongitude">Longitude</label>
                    <input aria-describedby="LongitudeHelp" class="form-control" id="inputLongitude" step="any" th:field="*{longitude}"
                           type="number">
                    <div class="form-text" id="longitudeHelp">Enter the longitude for your location</div>
                </div>

                <input class="btn btn-primary" th:value="Submit"
                       type="submit"/>
            </form>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="mb-1">Weathr was created by Devon McCauley</p>
    </div>
</footer>


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
