<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <title>Weathr</title>
    <link href="https://getbootstrap.com/docs/5.0/examples/album/" rel="canonical">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<header>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="bi bi-brightness-high mx-1"></i>

                <strong>Weathr</strong>
            </a>
        </div>
    </div>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"><i class="bi bi-brightness-high mx-1"></i>Weathr</h1>
                <p class="lead text-muted">Your query results</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light mx-auto text-center">

        <p class="forecast-current-temperature">The current temperature is <span
                th:text="${weather.temperature}"></span></p>
        <p class="forecast-current-winde-speed">The wind speed is <span th:text="${weather.windSpeed}"></span></p>
        <p class="forecast-current-forecast">The forecast is <span th:text="${weather.shortForecast}"></span></p>


    </div>
</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="mb-1">Weathr was created by Devon McCauley</p>
    </div>
</footer>


<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
